pytest~=9.1.1
click~=8.4.2
deepl~=1.30.0
deep-translator~=1.11.4
langdetect~=1.0.9
PyMuPDF~=1.24.9
docx2txt~=0.9
odfdo~=3.23.1
psutil~=7.0.0
whats_that_code~=0.3.1
requests~=2.32.5
huggingface_hub~=1.28.0
httpx~=0.28.1
fast-langdetect~=1.0.1
free-proxy-server~=1.0.0
llama-cpp-python~=0.3.34
codelang-detect~=1.1.0
badwords-py~=2.1.0
deepseek-ocr~=0.3.0
easyocr~=1.7.2
pptx2txt2~=1.1.0
customtkinter~=6.0.0
CTkSpinbox~=1.4.1
torch~=2.6.0
transformers~=5.15.1
pillow~=12.3.0